.products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-gap: 40px 30px;
}

@media(max-width: 1024px) {
    .products{
        grid-gap: 40px 20px;
    }
}

@media(max-width: 960px) {
    .products{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width: 768px) {
    .products{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 15px;
    }

    .productTitle{
        font-size: 14px;
    }

    .productPrice{
        font-size: 18px;
    }
}

@media(max-width: 560px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
    }

    .products .productCounter{
        width: 85px;
    }
}