.products{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-gap: 40px 30px;
}

@media(max-width: 1024px) {
    .products{
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 25px;
    }
}

@media(max-width: 768px) {
    .products{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 15px;
    }
}